<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "text tag" %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label "deadline" %><br>
    <%= f.date_select :time %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.select(:priority, %w[low medium HIGH]) %>

  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-default" %>
  </div>
<% end %>
