<div class="container">
<div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
        <div class="col-md-4">
            <h1><span class="glyphicon glyphicon-check"></span> ToDo</h1>
            <p>BitTOdO app</p>
        </div>
        <div class="col-md-4 pull-right">
          <br>
          <br>
            <%= form_tag('/tasks', method: :get) do %>
            <%= text_field_tag :search %>
            <%= select_tag "fieldtype", options_for_select(["title", "text tag", "till date", "priority" ], "done?") %>
            <%= submit_tag "filter" , class:"btn btn-default" %>
            <% end %>
            <%= form_tag('/tasks', method: :get) do %>
            <%= hidden_field_tag(:search) %>
            <%= hidden_field_tag "fieldtype", "done?" %>
            <%= submit_tag "show work ToDo", class:"btn btn-warning" %>
            <% end %>
        </div>
      </div>
</div>
<div class="panel-body">
<table class="table">
  <thead>
    <tr>
      <th>DOne</th>
      <th>Title</th>
      <th>Text tag</th>
      <th>Till Date</th>
      <th>Priority</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
        <% if !task.completed.blank? %>
        <tr class="bg-success">
        <td><%= task.completed.strftime("%d %b %Y %H:%M")  %></td>
        <% end %>
        <% if task.completed.blank? %>
        <tr>
        <td><%= link_to 'Done?', complete_task_path(task), method: :patch, class:"label label-danger" %></td>
        <% end %>
        <td><%= link_to task.title, task %></td>
        <td><%= task.text %></td>
        <td><%= task.time.strftime("%d %b %Y") %></td>
        <td><%= task.priority %></td>
        <td><%= link_to  raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_task_path(task) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="panel-footer">
<%= link_to 'New Task', new_task_path, class:"btn btn-default" %>
<%= link_to 'All Tasks', tasks_path, class:"btn btn-default" %></div>
</div>


</div>


