<div class="container">
<div class="panel panel-default">
      <div class="panel-heading">
            <h1>ToDo</h1>
                    <p>BitTOdO app</p>
          </div>
<div class="panel-body">
<table class="table table-striped">
  <thead>
    <tr>
      <th>DOne</th>
      <th>Title</th>
      <th>Text</th>
      <th>Till Date</th>
      <th>Priority</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <% if !task.completed.blank? %>
        <td><%= task.completed %></td>
        <% end %>
        <% if task.completed.blank? %>
        <td><%= link_to 'Done?', complete_task_path(task), method: :patch, class:"label label-danger" %></td>
        <% end %>
        <td><%= task.title %></td>
        <td><%= task.text %></td>
        <td><%= task.time %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'New Task', new_task_path, class:"btn btn-default" %>

</div>


