// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
    margin: auto;
    position: relative;
    margin-top:40px;
}

.btn-primary{
	margin: auto;
    position: relative;
}

h1{
	font-size:82px;
}